@font-face {
    font-family: 'Play';
    src: url("../../assets/fonts/Play-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Play';
    src: url("../../assets/fonts/Play-Bold.ttf") format("truetype");
    font-weight: 700;
}

html,
body {
    background:#121212;
    margin: 0;
    padding: 0;
}
.server-header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
    background: transparent;
    font-family: Play, sans-serif;
    font-weight: 700;
    padding: 16px;
    padding-top: 50px;
    gap: 80px;
}

#server-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 340px;
}

#server-info {
    width: 95%;
    height: 60%;
    background: #161C21;
    border-radius: 6px;
}

#server-status {
    width: 95%;
    height: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
}


#server-status.online {
    background: green;
}
#server-status.offline {
    background: red;
}
#server-status.loading {
    background: #686868;
}
#start-stop-button {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: red;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
}

#server-name {
    display: flex;

}