
@font-face {
    font-family: 'Play';
    src: url("../../assets/fonts/Play-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Play';
    src: url("../../assets/fonts/Play-Bold.ttf") format("truetype");
    font-weight: 700;
}

html,
body {
    background: #121212;
    margin: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}




header {
    color: white;
    padding: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-bottom: 50px;
    font-family: Play;
    font-weight: 700;
    letter-spacing: 0.3px;
    user-select: none;
}
header h1 {
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    background: transparent;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.top-bar{
    padding: 0;
    width: 70%;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    gap: 16px;
}


.create-button {
    background: #06aaf3;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 90px;
    height: 33px;
    color: #ffffff;
    font-size: 14px;
    font-family: Play, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s;
}
.create-button:hover {
    background-color: #0071e2;
}

.delete-button {
    width: 33px;
    height: 33px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    cursor: pointer;
    user-select: none;
}
.delete-button img {
    width: 30px;
    height: 30px;
}

.card-delete-button {
    border: none;
    background: #E2214B;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50px;
}
.card-delete-button:hover {
    background: #e10a3e;
}


.server-list {
    height: 100%;
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 16px;
    margin: 0 auto;
    user-select: none;
    overflow-y: auto ;
}
.server-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background: #181818;
    cursor: pointer;
    width:100%;
    margin: 0 auto;
    height: 100px;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 16px;
}

.server-card:hover {
    background: #191919;
}
.server-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    image-rendering: pixelated;
    position: relative;
}

.image-overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: opacity 0.2s;
}

.server-icon:hover .image-overlay {
    opacity: 0.5;
}
.server-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;

}
.server-info {
    display: flex;
    flex-direction: column;
    font-family: Play;
    font-weight: 700;
    letter-spacing: 0.3px;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
    overflow: hidden;
    height: 80px;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    text-align: left;


}
.server-info h1 {
    margin: 0;
    padding: 0;
    font-size: 26px;
}

.server-version {
    margin: 0;
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.server-version p {
    margin: 0;
    padding: 0;
}

.server-id {
    font-family: Play, sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 10px;
    box-sizing: border-box;
    color: #605e5e;
    padding:0;
    margin-top: 5px;
}

.version-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.placeholder {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #706d6d;
}
.overlay {
    z-index: 10;
    position: fixed;
    inset: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
}
.form {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #191919;
    padding-top: 32px;
    border-radius: 16px;
}
.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 350px;
    height: 350px;
    margin: 0;
    gap: 20px;
    color: white;
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.form label {
    font-size: 16px;
    user-select: none;
}
.form input,.form select {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border-radius: 6px;
    background: #131313;
    border: none;
    color: white;
    outline: none;
    box-sizing: border-box;
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-left: 16px;
}
.form input {
    text-align: center;
}
.form button {
    background: #06aaf3;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s;
    user-select: none;
}
.form input::placeholder {
    user-select: none;
}
.form button:hover {
    background: #0071e2;
}
.form button:active {
    transform: scale(0.97);
}

.create-text {
    display: inline;
    text-align: center;
    font-family: Play, sans-serif;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;
    height: 20px;
    padding: 0;
}
#loader {
    display: none;
}